/* All your style goes here */



button {
  margin: 0 1rem;
  float: right;
}

form {
  background: #DDD;
  width: 40rem;
  padding: 0.5rem;
  margin: 1rem auto;
}

input {
  padding: 0.5rem;
  border-radius: 0.3rem;

}

.btn  {
  margin-left: 0.5rem;
}
