body {
  text-align: center;
}

/* Globally use the same css file for other Components */

.person-div {
  border-top: 1px solid red;
  margin: 1rem;
}

button {
  background-color: skyblue;
  padding: 1rem 2rem;
  margin: 2rem;
  border-radius: 0.5rem;
  color: white;
}
button:hover {
  background-color:black;
  cursor: pointer;
}
